version: '3.7'
services:
  orderbot:
    build: ./orderbotapp/
    restart: unless-stopped
    volumes:
      - db_data:/var/lib/orderbotapp/db
    env_file:
      - matrix.env
      - room.env
volumes:
  db_data:
